body {
    font-family: sans-serif;
}
table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px;
}
h1 {
    margin: 20px;
}
h2 {
    margin: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #4CAF50;
    color: white;
}
th:hover {
    background-color: #45a049;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}